.check-logo {
  width: 25px;
  fill: green;
}

.times-logo {
  margin-left: 15px;
  width: 25px;
  fill: red;
}

.cleaning-admin-comp {
  padding: 8px 16px;
}

.delete-icon {
  fill: white;
  margin-right: 5px;
  padding-left: 10px;
  height: 15px;
}

.add-icon {
  margin-top: 14px;
}

.list-header {
  font-size: 16px !important;
  margin-top: 14px !important;
}

.list-body {
  margin: -8px -16px !important;
}

.tools-icon {
  margin-left: 10px;
  fill: white;
  height: 15px;
}

.save-icon {
  margin-left: 10px;
  fill: white;
  height: 15px;
}
