.no-padding-expansion-panel {
    padding: 0px !important;
}

.list-item-avatar {
    min-width: 44px;
}

.list-item-text {
    padding-left: 10px;
}

.avatar-img {
    height: 30px;
    border-radius: 50%;
}

.text-field {
    width: 100%;
}